<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <% include ../include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/common.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet" type="text/css"/>
    <style>
        .main {
            width: 1300px;
            background: none;
            padding: 0;
        }

        .article-content-wrap {
            /*min-height: 800px;*/
        }

        .asideNewArticle, .user-aside-info, .article-content-wrap {
            background: white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

        }

        .asideNewArticle {
            margin-top: 10px;
            padding: 10px;
        }

        .aside-title {
            font-size: 15px;
        }

        .aside-title:before {
            display: inline-block;
            margin-right: 8px;
            content: '';
            width: 4px;
            height: 22px;
            vertical-align: -6px;
            background-color: #2e6da4;
        }

        .asideNewArticle, .user-aside-info {
            /*height: 400px;*/
        }

        .newArticleList {
            padding: 10px;
        }

        .newArticleList li {
            margin-top: 10px;
        }

        .newArticleList li:hover a {
            color: #2e6da4;
        }

        .newArticleList a {
            display: block;
            color: #333;
        }

        .data-info {
            padding: 15px 10px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 13px;
            border-bottom: 1px solid #e0e0e0;

        }

        .data-info dt {
            color: #666;
            padding: 2px 0;
        }

        .article-content-wrap {
            padding: 10px 25px 15px;
            margin-bottom: 50px;
        }

        #btn-readmore {
            color: #2e6da4;
            border: 1px solid #2e6da4;
        }

        .article-info-box {
            margin-top: 20px;
            color: #858585;
            padding-bottom: 15px;
            border-bottom: 1px solid #e0e0e0;
        }

        .article-author {
            color: #78a5f1;
            margin: 0 20px;
        }

        article {
            position: relative;
            padding-top: 15px;
            /*min-height: 800px;*/
            overflow: hidden;
        }

        .hide-article-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 160px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #fff));
            background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
            display: none;
        }

        .tagWrap, .tagList {
            display: inline-block;
        }

        .tag {
            font-size: 12px;
            padding: 0px 10px;
            border-radius: 100px;
            border: 1px solid #ccc;
            margin: 0 3px;
        }
    </style>

</head>
<%
function dateFormat(val) {
    return new Date(Number(val)).toLocaleDateString();
}
%>
<body>
<% include ../include/header.ejs %>

<section class="main row">
    <div class="col-lg-3">
        <div class="user-aside-info ">
            <div class="userWrap">
                <div class="headWrap">
                    <% if( !authorInfo._id ){ %>
                    <img src="" alt="">
                    <% }else {%>
                    <img src="/images/head.jpeg" alt="">
                    <% } %>
                </div>
                <div class="userInfo text-primary">
                    <p class="name"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span id="user-name"><%= authorInfo.name %></span>
                    </p>
                    <!--<p class="email"><i class="fa fa-envelope-open" aria-hidden="true"></i><span id="user-email"><%# user.email %></span></p>-->
                </div>
            </div>
            <div class="data-info">
                <dl>
                    <dt>原创</dt>
                    <dd><b>1</b></dd>
                </dl>
                <dl>
                    <dt>粉丝</dt>
                    <dd><b>2</b></dd>
                </dl>
                <dl>
                    <dt>喜欢</dt>
                    <dd><b>123</b></dd>
                </dl>
                <dl>
                    <dt>评论</dt>
                    <dd><b>232</b></dd>
                </dl>
            </div>
        </div>
        <div class="asideNewArticle">
            <div class="aside-title">最新文章</div>
            <ul class="newArticleList">
                <!---->
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="article-content-wrap ">

            <div class="article-title-box">
                <span></span>
                <h3 class="article-title "><%= blogObj.title %></h3>
            </div>
            <div class="article-info-box">
                <span class="article-time"><%- dateFormat(blogObj.createTime) %></span>
                <span class="article-author"><%= blogObj.author %></span>
                <div class="tagWrap">
                    <% if( blogObj.tags != null && blogObj.tags.length != 0){ %>
                    <% let tags = blogObj.tags || [] %>
                    <label>标签：</label>
                    <div class="tagList">
                        <% for(var i = 0; i < tags.length; i++) { %>
                        <span class="tag"><%= tags[i] %></span>
                        <% } %>
                    </div>
                    <% } %>
                </div>

                <% if(blogObj.author.name == user.name){ %>
                <a class="right" href="/manage/blog/<%= blogObj.id %>">编辑</a>
                <% } %>

            </div>
            <div>
                <article class="fr-view">
                    <%- blogObj.content %>
                    <div class="hide-article-box text-center">
                        <a class="btn" id="btn-readmore">阅读更多</a>
                    </div>

                </article>

            </div>

        </div>
    </div>
</section>
<aside>

</aside>

<% include ../include/footer-res.ejs %>

<script type="text/html" id="new_blog_template">
    {{ if list.length > 0 }}
    {{each list }}
    <li><a href="{{ '/common/blogDetail/'+ $value.id }}">{{ $value.title }}</a></li>
    {{ /each }}
    {{ /if }}
</script>
<script>

    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {}
            }

            initial() {

                let articleH = $('article').height();
                if(articleH > 1000){
                    $('article').height(1000);
                    $('.hide-article-box').show();
                }

                $('#btn-readmore').click(function () {
                    $('article').css({height: 'auto'});
                    $('.hide-article-box').hide();
                });
                manage.getNewArticleList();

            }

            getNewArticleList() {
                ajaxData('post', '/getNewBlogs',{
                    author: '<%= authorInfo.name %>',
                }).then(function (res) {
                    if (res.success) {
                        let data = {
                            list: res.data,
                        };
                        let str = template('new_blog_template', data);
                        $('.newArticleList').html(str);

                    }
                })
            }
        }


        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>