<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- 引入样式 -->
    <% include ../include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/common.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
    <style>
        @media (min-width: 970px) {
            .main {
                width: 1300px;
                background: none;
                padding: 0;
            }
        }

        .article-content-wrap {
            padding: 10px 25px 15px;
            margin-bottom: 30px;
        }

        .asideNewArticle, .user-aside-info, .article-content-wrap {
            background: white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);

        }

        .asideNewArticle {
            margin: 10px 0;
            padding: 10px;
        }

        .aside-title {
            font-size: 15px;
        }

        .aside-title:before {
            display: inline-block;
            margin-right: 8px;
            content: '';
            width: 4px;
            height: 22px;
            vertical-align: -6px;
            background-color: #2e6da4;
        }

        .asideNewArticle, .user-aside-info {
            /*height: 400px;*/
        }

        .newArticleList {
            padding: 10px;
        }

        .newArticleList li {
            margin-top: 10px;
        }

        .newArticleList li:hover a {
            color: #2e6da4;
        }

        .newArticleList a {
            display: block;
            color: #333;
        }

        .data-info {
            padding: 15px 10px;
            display: flex;
            justify-content: space-around;
            text-align: center;
            font-size: 13px;
            border-bottom: 1px solid #e0e0e0;

        }

        .data-info dt {
            color: #666;
            padding: 2px 0;
        }

        #btn-readmore, #btn-readmore-comment {
            color: #2e6da4;
            border: 1px solid #2e6da4;
        }

        .article-info-box {
            margin-top: 20px;
            color: #858585;
            padding-bottom: 15px;
            border-bottom: 1px solid #e0e0e0;
        }

        .article-author {
            color: #78a5f1;
            margin: 0 20px;
        }

        article {
            position: relative;
            padding-top: 15px;
            /*min-height: 800px;*/
            overflow: hidden;
        }

        .hide-article-box, .hide-comment-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 160px;
            padding-bottom: 10px;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(70%, #fff));
            background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
            display: none;
        }

        .tagWrap, .tagList {
            display: inline-block;
        }

        .tag {
            font-size: 12px;
            padding: 0px 10px;
            border-radius: 100px;
            border: 1px solid #ccc;
            margin: 0 3px;
        }

        /*评论*/
        .comment-wrap {
            /*height: 400px;*/
            background: white;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
            /*padding: 10px 20px;*/
            padding: 0.2rem 0.3rem;
            overflow: hidden;
            position: relative;
        }

        #comment-content {
            width: 100%;
            height: 80px;
            display: block;
            padding: 7px 8px;
            margin-bottom: 10px;
            background: #fff;
            border: 1px solid #dedede;
            border-radius: 4px;
            resize: none;
            outline: none;
            font-size: 14px;
            line-height: 22px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: height .3s ease-in-out;
            transition: height .3s ease-in-out;
        }

        #comment-content:focus {
            /*height: 120px;*/
        }

        .btn {
            padding: 4px 15px;
            border-radius: 4px;
        }

        .btn-small {
            padding: 0 15px;
            font-size: 12px;
            border-radius: 4px;
        }

        .btn-comment, .btn-sec-comment {
            background: #2e6da4;
            color: white;
        }

        .btn-cancel {
            background: #aaa;
            color: white;
        }

        .comment-list-box {
            margin-top: 20px;
        }

        .comment-item {
            border-bottom: 1px dashed #999;
            padding: 20px 10px 25px;
            line-height: 25px;
        }

        .comment-item:hover>.opt-box, .sec-comment-item:hover>.opt-box {
            display: block;
        }

        .c-name {
            font-size: 15px;
        }

        .c-content {
            color: #666;
            font-size: 14px;
            display: inline;
        }

        .c-time {
            color: #999;
            font-size: 12px;
            margin-left: 20px;
        }

        .opt-box {
            color: #79a5e5;
            font-size: 12px;
            display: none;
        }

        .opt-box span {
            margin-right: 5px;

        }

        .btn-report:hover, .btn-delete:hover {
            color: #f44;
            cursor: pointer;
        }

        .btn-reply:hover {
            cursor: pointer;
            color: #2e6da4;
        }

        .reply-box {
            margin-top: 10px;
            display: none;
            padding-bottom: 5px;
        }

        .input-reply {
            width: 100%;
            height: 80px;
            padding: 5px 10px;
            border: 1px solid #dedede;
            border-radius: 4px;
            resize: none;
            font-size: 14px;
            transition: height .3s ease;
        }

        .input-reply:focus {
            /*height: 80px;*/
        }

        .sec-comment-item {
            border: 1px solid #ddd;
            padding: 1px 1px 0 10px;
        }


    </style>

</head>

<style>
    .bsBox {
        width: auto !important;
        height: auto !important;
    }

    .bFind-wrapper-top {
        height: 25px;
    }
</style>
<!--<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a>-->
<!--<script type="text/javascript" charset="utf-8"-->
        <!--src="http://static.bshare.cn/b/buttonLite.js#uuid=&amp;style=3&amp;fs=4&amp;textcolor=#fff&amp;bgcolor=#9C3&amp;text=分享到"></script>-->

<%
function dateFormat(val) {
    return new Date(Number(val)).toLocaleDateString();
}
%>
<body>
<% include ../include/header.ejs %>

<section class="main row">
    <div class="col-lg-3 col-xs-12">
        <div class="user-aside-info ">
            <div class="userWrap">
                <div class="headWrap">
                    <% if( !authorInfo._id ){ %>
                    <img src="" alt="">
                    <% }else { %>
                    <img src="/images/head.jpeg" alt="">
                    <% } %>
                </div>
                <div class="userInfo text-primary">
                    <p class="name"><i class="fa fa-user-circle-o" aria-hidden="true"></i><span
                                id="user-name"><%= authorInfo.name %></span>
                    </p>
                    <!--<p class="email"><i class="fa fa-envelope-open" aria-hidden="true"></i><span id="user-email"><%# user.email %></span></p>-->
                </div>
            </div>
            <div class="data-info">
                <dl class="author-type1">
                    <dt>原创</dt>
                    <dd><b></b></dd>
                </dl>
                <dl class="author-type2">
                    <dt>转载</dt>
                    <dd><b></b></dd>
                </dl>
                <dl class="author-type3">
                    <dt>翻译</dt>
                    <dd><b></b></dd>
                </dl>
                <dl class="author-fans">
                    <dt>粉丝</dt>
                    <dd><b>0</b></dd>
                </dl>
                <dl class="author-like">
                    <dt>喜欢</dt>
                    <dd><b>0</b></dd>
                </dl>
                <dl class="author-comment">
                    <dt>评论</dt>
                    <dd><b>0</b></dd>
                </dl>
            </div>
        </div>
        <div class="asideNewArticle">
            <div class="aside-title">最新文章</div>
            <ul class="newArticleList">
                <!---->
            </ul>
        </div>
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="article-content-wrap ">

            <div class="article-title-box">
                <span></span>
                <h3 class="article-title "><%= blogObj.title %></h3>
            </div>
            <div class="article-info-box">
                <span class="article-time"><%- dateFormat(blogObj.createTime) %></span>
                <span class="article-author"><%= blogObj.author %></span>
                <div class="tagWrap">
                    <% if( blogObj.tags != null && blogObj.tags.length != 0){ %>
                    <% let tags = blogObj.tags || [] %>
                    <label>标签：</label>
                    <div class="tagList">
                        <% for(var i = 0; i < tags.length; i++) { %>
                        <span class="tag"><%= tags[i] %></span>
                        <% } %>
                    </div>
                    <% } %>
                </div>

                <% if( blogObj.deleted ){ %>
                <span class="text-red right" href="JavaScript:void(0)">已删除</span>
                <% }else if (authorInfo.name == user.name){ %>
                <a class="right" href="/manage/blog/<%= blogObj.id %>" target="_blank">编辑</a>
                <% } %>

            </div>
            <div>
                <article class="fr-view">
                    <%- blogObj.content %>
                    <div class="hide-article-box text-center">
                        <a class="btn" id="btn-readmore">阅读更多</a>
                    </div>

                </article>

            </div>

        </div>

        <div class="comment-wrap">
            <div class="comment-edit-wrap clear">
                <textarea name="" id="comment-content" placeholder="想对作者说点什么..."></textarea>
                <div class="right">
                    <span id="tip_comment" class="tip">还能输入<em>1000</em>个字符</span>
                    <input type="submit" class="btn btn-comment" value="发表评论">
                </div>
            </div>
            <div class="comment-list-box">
                <!---->
            </div>
            <div class="hide-comment-box text-center">
                <a class="btn" id="btn-readmore-comment">更多评论</a>
            </div>
        </div>

    </div>
</section>

<ul class="meau-gotop-box">
    <li id="reportContent">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </li>

    <li id="toPageTop">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
    </li>
    <li id="shareContent" class="bshare-weixin">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
    </li>

</ul>

<% include ../include/footer-res.ejs %>

<script type="text/html" id="new_blog_template">
    {{ if list.length > 0 }}
    {{each list }}
    <li><a href="{{ '/common/blogDetail/'+ $value.id }}">{{ $value.title }}</a></li>
    {{ /each }}
    {{ /if }}
</script>
<script>

    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {
                    replyDeleted: false
                }
            }

            initial() {

                let articleH = $('article').height();
                if (articleH > 1000) {
                    $('article').height(1000);
                    $('.hide-article-box').show();
                }
//                展开更多文章
                $('#btn-readmore').click(function () {
                    $('article').css({height: 'auto'});
                    $('.hide-article-box').hide();
                });
                $('#btn-readmore-comment').click(function () {
                    $('.comment-wrap').css({height: 'auto'});
                    $('.hide-comment-box').hide();
                });
//                发布评论
                $('.btn-comment').click(function () {
                    if (!'<%= user.id %>') {
                        showWarningMsg('请先登录！');
                        return;
                    }
                    let comment = $('#comment-content').val().trim();
                    if (comment == '') {
                        showWarningMsg('请输入评论内容！');
                        $('#comment-content').focus();
                        return;
                    }
                    let id = $(this).parents('.comment-item').data('id');
                    manage.setComment({comment: comment, commentId: id});
                });


                manage.getNewArticleList();
                manage.countPV();
                manage.getTypeCount();
                manage.getComment();


            }

            getNewArticleList() {
                ajaxData('post', '/getNewBlogs', {
                    author: '<%= authorInfo.name %>',
                }).then(function (res) {
                    if (res.success) {
                        let data = {
                            list: res.data,
                        };
                        let str = template('new_blog_template', data);
                        $('.newArticleList').html(str);

                    }
                })
            }

            countPV() {
                ajaxData('post', '/countPv', {
                    id: '<%= blogObj.id %>',
                }).then(function (res) {
                    if (res.success) {

                    }
                })
            }

            getTypeCount() {
                ajaxData('post', '/getTypeCount', {
                    author: '<%= authorInfo.name %>',
                }).then(function (res) {
                    if (res.success) {
                        $('.author-type1 b').text(res.data.type1);
                        $('.author-type2 b').text(res.data.type2);
                        $('.author-type3 b').text(res.data.type3);
                    }
                })
            }

            setComment(obj) {
                ajaxData('post', '/comment', {
                    articleId: '<%= blogObj.id %>',
                    content: obj.comment,
                    userId: '<%= user.id %>',
                    userName: '<%= user.name %>',
                    createTime: new Date().getTime(),
                    replyId: obj.commentId ? obj.commentId : ''
                }).then(function (res) {
                    if (res.success) {
                        $('#comment-content').val('');
                        manage.getComment();

                    }
                })
            }

            getComment() {
                ajaxData('post', '/getComments', {
                    articleId: '<%= blogObj.id %>'
                }).then(function (res) {
                    if (res.success) {

                        /*渲染*/
                        let commentArr = res.data;
                        let commentStr = '';
                        for (let i = 0; i < commentArr.length; i++) {
//                            判断是否被回复过
                            let filterArr = commentArr.filter(function (e, index) {
                                if(e.replyList && (e.replyList[0] == commentArr[i].commentId + '') ){
                                    return true;
                                }
                            })
//                            如果被回复过则不单独展示该条回复记录
                            if(filterArr.length != 0)continue;

                            let replyList = commentArr[i].replyList;
//                            每次初始化回复字符串
                            let renderReplyStr = '';
//                            每次遍历初始化回复key值
                            manage.data.replyDeleted = false;
                            if (replyList && replyList.length != 0) {
                                let ele = findEle(replyList[0]);
                                if (ele.e) {
//                                    如果相邻被回复未被删除
                                    renderReplyStr = renderReplyList(ele);
                                } else {
//                                    如果相邻被回复的评论已经删除，直接跳过当前评论
                                    continue;
                                }
                            }
//                            当前评论
                            let commentStrItem = `
                                     <div class="comment-item" data-id="${ commentArr[i].commentId }">
                                            ${ renderReplyStr }
                                        <b class="c-name">${ commentArr[i].userName }：</b>
                                        <span class="c-content">${ commentArr[i].content }</span>
                                        <span class="c-time">(${ new Date(Number(commentArr[i].createTime)).toLocaleString() }<b style="margin-left: 10px;color: #999">#${ commentArr.length - i }楼</b>)</span>
                                        <div class="right opt-box">
                                            ${ '<%= user.id %>' == commentArr[i].userId ? '<span class="btn-delete">删除</span>' : '<span class="btn-report">举报</span>' }
                                            <span class="btn-reply">回复</span>
                                        </div>
                                        <div class="reply-box clear">
                                            <textarea class="input-reply" placeholder="请输入回复内容..."></textarea>
                                            <div class="right">
                                                <input type="submit" class="btn-cancel btn-small" value="取消">
                                                <input type="submit" class="btn-sec-comment  btn-small" value="回复">
                                            </div>
                                        </div>
                                    </div>`;
                            if (manage.data.replyDeleted) {
//                                如果回复列表里面有删除项,则该评论不再展示
                                commentStrItem = '';
                            }
//                            拼接评论
                            commentStr += commentStrItem;
                        }

//                        查询该评论
                        function findEle(replyId) {
                            let ele = {};
                            commentArr.forEach(function (e, i) {
                                if (e.commentId == Number(replyId)) {
                                    ele.e = e;
                                    ele.i = i;
                                    ele.length = commentArr.length;
                                }
                            });
                            return ele;
                        }

//                        拼接回复字符串方法
                        function renderReplyList(eleAndI) {
                            let obj, str;
                            if (eleAndI.e) {
//                              如果非相邻回复未被删除
                                obj = eleAndI.e;
                            } else {
//                              如果非相邻回复有被删除项
                                manage.data.replyDeleted = true;
                                return false;
                            }
                            if (obj.replyList && obj.replyList.length != 0) {
//                                有回复中有回复，调用递归
                                let secStr = renderReplyList(findEle(obj.replyList[0]));
                                str = `<div class="sec-comment-item" data-id="${ obj.commentId }">
                                                ${ secStr }
                                                <b class="c-name">${ obj.userName }：</b>
                                                <p class="c-content">${ obj.content }</p>
                                                <span class="c-time">(${ new Date(Number(obj.createTime)).toLocaleString() }   <b style="margin-left: 10px;color: #999">#${ eleAndI.length - eleAndI.i }楼</b>)</span>
                                                <div class="right opt-box">
                                                    ${ '<%= user.id %>' == obj.userId ? '<span class="btn-delete">删除</span>' : '<span class="btn-report">举报</span>' }
                                                    <span class="btn-reply">回复</span>
                                                </div>
                                                <div class="reply-box clear">
                                                    <textarea class="input-reply" placeholder="请输入回复内容..."></textarea>
                                                    <div class="right">
                                                        <input type="submit" class="btn-cancel btn-small" value="取消">
                                                        <input type="submit" class="btn-sec-comment  btn-small" value="回复">
                                                    </div>
                                                </div>
                                            </div>`;
                                return str;
                            } else {
//                                有回复没有有回复，直接拼接
                                str = `<div class="sec-comment-item" data-id="${ obj.commentId }">
                                            <b class="c-name">${ obj.userName }：</b>
                                            <span class="c-content">${ obj.content }</span>
                                            <span class="c-time">(${ new Date(Number(obj.createTime)).toLocaleString() }   <b style="margin-left: 10px;color: #999">#${ eleAndI.length - eleAndI.i }楼</b>)</span>
                                            <div class="right opt-box">
                                                ${ '<%= user.id %>' == obj.userId ? '<span class="btn-delete">删除</span>' : '<span class="btn-report">举报</span>' }
                                                <span class="btn-reply">回复</span>
                                            </div>
                                            <div class="reply-box clear">
                                                <textarea class="input-reply" placeholder="请输入回复内容..."></textarea>
                                                <div class="right">
                                                    <input type="submit" class="btn-cancel btn-small" value="取消">
                                                    <input type="submit" class="btn-sec-comment  btn-small" value="回复">
                                                </div>
                                            </div>
                                        </div>`;
                                return str;
                            }

                        }

//                        渲染
                        $('.comment-list-box').html(commentStr);


                        /*渲染后的一项事件绑定*/
                        let commentH = $('.comment-wrap').height();
                        if (commentH > 1000) {
                            $('.comment-wrap').height(600);
                            $('.hide-comment-box').show();
                        }
//                        回复
                        $('.btn-reply').unbind().click(function () {
                            $(this).parent().siblings('.reply-box').slideDown();
                        })
//                        取消评论
                        $('.btn-cancel').unbind().click(function () {
                            $('.input-reply').val('');
                            $('.reply-box').hide();
                        });
//                        二级回复
                        $('.btn-sec-comment').unbind().click(function () {
                            if (!'<%= user.id %>') {
                                showWarningMsg('请先登录！');
                                return;
                            }
                            let $textarea = $(this).parents('.reply-box').find('.input-reply');
                            let comment = $textarea.val().trim();
                            if (comment === '') {
                                showWarningMsg('请输入评论内容！');
                                $textarea.focus();
                                return;
                            }
                            let id = $(this).parents('.sec-comment-item').data('id') || $(this).parents('.comment-item').data('id');
                            manage.setComment({comment: comment, commentId: id});
                        });
//                        删除评论
                        $('.btn-delete').unbind().click(function () {
                            let _this = this;
                            swal({
                                title: "删除",
                                text: "确定删除该评论吗？",
                                icon: "warning",
                                buttons: {
                                    cancel: '取消',
                                    default: '删除',
                                },
                            }).then(value => {
                                switch (value) {
                                    case "default":
                                        let commentId = $(this).parents('.sec-comment-item').data('id') || $(this).parents('.comment-item').data('id');
                                        ajaxData('post', '/deleteComment', {
                                            commentId: commentId,
                                            articleId: '<%= blogObj.id %>'
                                        }).then(function (res) {
                                            if (res.success) {
                                                $(_this).parents('.comment-item').fadeOut(function () {
                                                    manage.getComment();
                                                });
                                            }
                                        })
                                        break;
                                    default:
                                        break;
                                }
                            })
                        });


                    }
                })
            }

        }

        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>