<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <% include ../include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
    <style>

        .main {
            background: white;
            /*min-height: auto;*/
        }

        .sidebar {
            height: 100%;
            border-right: 1px solid #e9e9e9;
        }

        .sidebar i {
            color: #333;
            margin-right: 5px;
        }

        .titleWrap {
            width: 100%;
            padding: 5px 10px;
            background: #eee;
            margin-bottom: 20px;
        }

        #title {
            border: 0;
            width: 100%;
            background: transparent;
            padding: 5px 10px;
            outline: none;
        }

        .editorWrap {
            min-height: 500px;
        }

        #editor {
            width: 100%;
            min-height: 500px;
            background: #eee;
        }

        #submit, #saveToDrafts {
            border: 1px solid #2b669a;
            border-radius: 5px;
            padding: 5px 15px;
            color: #2b669a;
            margin-right: 20px;
        }

        #submit:hover, #saveToDrafts:hover {
            background: #2b669a;
            color: white;
        }

        .editorTool {
            margin: 20px 0;
        }

        .editorTool .row {
            width: 100%;
            margin: 0 0 15px;
        }

        .editorTool .row span {
            margin-right: 10px;
        }

        .tagWrap {
            vertical-align: top;
        }

        .tagWrap .tip {
            margin: 10px 0;
        }

        .addTagBtn {
            color: #349EDF;
            border: none;
            outline: none;
        }

        .addTagBtn i {
            margin-right: 5px;
        }

        .tag {
            margin-right: 5px;
            display: inline-block;
        }

        .tag .tagName {
            min-width: 20px;
            max-width: 300px;
            overflow: hidden;
            background: #e9e9e9;
            padding: 3px 8px;
            border-radius: 2px;
            font-size: 12px;
            margin-right: 0 !important;
            outline: none;
            box-sizing: border-box;
            white-space: nowrap;
            display: inline-block;
            vertical-align: -5px;
        }

        .tag i {
            cursor: pointer;
            padding: 5px 2px;
            color: #aaa;
            font-weight: 100;
        }

        .tag i:hover {
            color: red;
        }

    </style>

</head>
<body>
<% include ../include/header.ejs %>

<section class="main container">
    <div class="row">
        <% include blogAside.ejs %>

        <div class="blogWrap col-6 col-md-10">
            <div class="titleWrap">
                <input id="title" type="text" placeholder="请输入文章标题" value="<%= blogObj.title %>">
            </div>
            <div class="editorWrap">
                <textarea name="content" id="editor"></textarea>
            </div>
            <div class="editorTool ">
                <div class="row">
                    <div class="inlineBlock">
                        <span>文章标签：</span>
                    </div>
                    <div class="inlineBlock tagWrap">
                        <div class="tagList">
                            <% let tags = blogObj.tags || [] %>
                            <% for(var i = 0; i < tags.length ; i++) { %>
                            <div class="tag">
                                <span class="tagName" contenteditable="true"><%= tags[i] %> </span>
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </div>
                            <% } %>
                            <button class="addTagBtn"><i class="fa fa-plus" aria-hidden="true"></i>添加标签</button>
                        </div>
                        <div class="">
                            <p class="tip">最多添加5个标签</p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <span>文章类型:</span>
                    <select name="" id="blogType">
                        <option value="0">请选择分类</option>
                        <option value="1">原创</option>
                        <option value="2">转载</option>
                        <option value="3">翻译</option>
                    </select>
                </div>
                <div class="row">
                    <span>私密文章:</span><input type="checkbox" id="privateSwitch">
                </div>
                <div class="row">
                    <button id="submit">发表博客</button>
                    <button id="saveToDrafts" data-type="drafts">保存为草稿</button>
                </div>
            </div>
        </div>

    </div>
</section>

<% include ../include/footer-res.ejs %>
<!-- Include Editor JS files. -->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.pkgd.min.js"></script>-->
<script src="/lib/froala_editor.2.8.5.min.js"></script>

<script>

    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {
                    userInfo: null,
                    showAside: false,

                }
            }

            initial() {

//              格式化富文本
                $('#editor').froalaEditor({
                    height: 500,
                    codeMirror: false,
                    // Set the image upload URL.
                    imageUploadURL: '/upload_image',
                    // Allow to upload PNG and JPG.
                    imageAllowedTypes: ['jpeg', 'jpg', 'png']
//                    toolbarButtons: [
//                        'saveSelection', 'restoreSelection', 'clearSelection'
//                    ]
//                    colorsBackground: ['#61BD6D', '#1ABC9C', '#54ACD2', 'REMOVE']
//                    colorsHEXInput: false
//                    colorsStep: 14
//                    autofocus: true
                })
                    .on('froalaEditor.image.beforeUpload', function (e, editor, images) {
                        // Return false if you want to stop the image upload.
                    })
                    .on('froalaEditor.image.uploaded', function (e, editor, response) {
                        // Image was uploaded to the server.
                        console.log(e, editor, response)
                    })
                    .on('froalaEditor.image.inserted', function (e, editor, $img, response) {
                        // Image was inserted in the editor.
                    })
                    .on('froalaEditor.image.replaced', function (e, editor, $img, response) {
                        // Image was replaced in the editor.
                    })
                    .on('froalaEditor.image.error', function (e, editor, error, response) {
                        // Bad link.
                        console.log(e, editor, error, response)
                        if (error.code == 1) {
                        }

                        // No link in upload response.
                        else if (error.code == 2) {
                        }

                        // Error during image upload.
                        else if (error.code == 3) {
                        }

                        // Parsing response failed.
                        else if (error.code == 4) {
                        }

                        // Image too text-large.
                        else if (error.code == 5) {
                        }

                        // Invalid image type.
                        else if (error.code == 6) {
                        }

                        // Image can be uploaded only to same domain in IE 8 and IE 9.
                        else if (error.code == 7) {
                        }

                        // Response contains the original server response to the request if available.
                    });


//                $('.selector').froalaeditor({
//                    // Set the image upload parameter.
//                    imageUploadParam: 'image_param',
//                    // Set the image upload URL.
//                    imageUploadURL: '/upload_image',
//                    // Additional upload params.
//                    imageUploadParams: {id: 'my_editor'},
//                    // Set request type.
//                    imageUploadMethod: 'POST',
//                    // Set max image size to 5MB.
//                    imageMaxSize: 5 * 1024 * 1024,
//                    // Allow to upload PNG and JPG.
//                    imageAllowedTypes: ['jpeg', 'jpg', 'png']
//                })
//                    .on('froalaEditor.image.beforeUpload', function (e, editor, images) {
//                        // Return false if you want to stop the image upload.
//                    })
//                    .on('froalaEditor.image.uploaded', function (e, editor, response) {
//                        // Image was uploaded to the server.
//                    })
//                    .on('froalaEditor.image.inserted', function (e, editor, $img, response) {
//                        // Image was inserted in the editor.
//                    })
//                    .on('froalaEditor.image.replaced', function (e, editor, $img, response) {
//                        // Image was replaced in the editor.
//                    })
//                    .on('froalaEditor.image.error', function (e, editor, error, response) {
//                        // Bad link.
//                        if (error.code == 1) {
//                        }
//
//                        // No link in upload response.
//                        else if (error.code == 2) {
//                        }
//
//                        // Error during image upload.
//                        else if (error.code == 3) {
//                        }
//
//                        // Parsing response failed.
//                        else if (error.code == 4) {
//                        }
//
//                        // Image too text-large.
//                        else if (error.code == 5) {
//                        }
//
//                        // Invalid image type.
//                        else if (error.code == 6) {
//                        }
//
//                        // Image can be uploaded only to same domain in IE 8 and IE 9.
//                        else if (error.code == 7) {
//                        }
//
//                        // Response contains the original server response to the request if available.
//                    });


//                渲染时：修改博客界面
                $('.tag i').unbind().click(function () {
                    $(this).parent('.tag').remove();
                })
//                绑定tag事件
                $('.addTagBtn').click(function () {
                    let tag = $('.tagName:last').text().trim();
                    if ($('.tagName').length != 0 && tag == '') {
                        $('.tagName:last').focus();
                        return;
                    }
                    $(this).before(` <div class="tag">
                                        <span class="tagName" contenteditable="true"> </span>
                                        <i class="fa fa-times" aria-hidden="true"></i>
                                     </div>`);
                    $('.tagName:last').focus();
                    $('.tag i').unbind().click(function () {
                        $(this).parent('.tag').remove();
                    })
                })


//              如果是查看编辑， 有blog id
                if ('<%- blogObj.id %>') {
                    $('#editor').froalaEditor('html.set', `<%- blogObj.content %>`);
                    $('#blogType').val('<%- blogObj.type %>');
                    if('<%- blogObj.privated %>' == 'false'){
                        $('#privateSwitch').prop({checked: false});
                    }else {
                        $('#privateSwitch').prop({checked: true});
                    }
                }

                $('#submit, #saveToDrafts').click(function () {

                    let title = $('#title').val().trim();
                    let content = $('#editor').froalaEditor('html.get');
                    let createTime = new Date().getTime();
                    let type = $('#blogType').val();
                    let tags = [];
                    $.each($('.tagList .tagName'), function (i, e) {
                        let tag = $(e).text().trim();
                        if (tag != '') tags.push(tag);
                    })
                    if (title == '') {
                        showErrorMsg('请输入文章标题');
                        $('#title').focus();
                        return;
                    }
                    if (content == '') {
                        showErrorMsg('请输入文章内容');
                        $('#editor').focus();
                        return;
                    }
                    if (type == 0) {
                        showErrorMsg('请选择文章类型');
                        $('#blogType').focus();
                        return;
                    }


                    let obj = null;
                    let key = Boolean($(this).data('type') == 'drafts');
                    if (key) {
                        obj = {
                            id: '<%- blogObj.id %>',
                            title: title,
                            content: content,
                            type: type,
                            createTime: createTime,
                            author: '<%= user.name %>',
                            tags: tags,
                            privated: $('#privateSwitch')[0].checked,
                            drafts: true
                        }
                    } else {
                        obj = {
                            id: '<%- blogObj.id %>',
                            title: title,
                            content: content,
                            type: type,
                            createTime: '<%- blogObj.id %>' ? '' : createTime,
                            author: '<%= user.name %>',
                            tags: tags,
                            privated: $('#privateSwitch')[0].checked,
                        }
                    }

                    $('.loading-mask').show();
                    ajaxDataStringify('/blog', obj).then(function (res) {
                        $('.loading-mask').hide();
                        if (res.success) {
                            if (key) {
                                showTipsMsg('已保存到草稿箱！！！');
                            } else {
                                swal({
                                    title: "Good job!",
                                    text: '<%- blogObj.id %>' ? "修改成功！" : "发布成功！",
                                    icon: "success",
                                    buttons: {
                                        oper1: {
                                            text: '写新文章',
                                            value: 'write'
                                        },
                                        oper2: {
                                            text: '管理博文',
                                            value: 'back'
                                        },
                                        oper3: {
                                            text: '查看文章',
                                            value: "view"
                                        }
                                    },
//                                timer: 2000,
                                }).then((value) => {
                                    switch (value) {
                                        case "write":
                                            window.location.href = '/blog/index';
                                            break;
                                        case "view":
                                            if ('<%- blogObj.id %>') {
                                                window.location.href = '/manage/blogDetail/<%- blogObj.id %>';
                                            } else {
                                                window.location.href = '/manage/blogDetail/' + res.data.blogId;
                                            }
                                            break;
                                        case "back":
                                            window.location.href = '/manage/blogList';
                                            break;
                                        default:
                                            break;
                                    }
                                });
                            }

                        }
                    })

                });


            }
        }

        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>