<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- 引入样式 -->
    <% include ../include/header-res.ejs %>
    <!--<link rel="stylesheet" href="/css/index.css">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.pkgd.min.css"
          rel="stylesheet" type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css" rel="stylesheet"
          type="text/css"/>
    <style>

        .main {
            background: white;
            min-height: auto;
        }

        .sidebar {
            height: 100%;
            border-right: 1px solid #e9e9e9;
        }

        .sidebar i {
            color: #333;
            margin-right: 5px;
        }

        .titleWrap {
            width: 100%;
            padding: 5px 10px;
            background: #eee;
            margin-bottom: 20px;
        }

        #title {
            border: 0;
            width: 100%;
            background: transparent;
            padding: 5px 10px;
            outline: none;
        }

        #submit {
            border: 1px solid #2b669a;
            border-radius: 5px;
            padding: 5px 15px;
            color: #2b669a;
        }

        #submit:hover {
            background: #2b669a;
            color: white;
        }

    </style>

</head>
<body>
<% include ../include/header.ejs %>

<section class="main container">
    <div class="row">
        <% include ../include/blogAside.ejs %>

        <div class="blogWrap col-6 col-md-10">
            <div class="titleWrap">
                <input id="title" type="text" placeholder="请输入文章标题" value="<%= blogObj.title %>">
            </div>
            <div class="editorWrap">
                <textarea name="content" id="editor"></textarea>
            </div>
            <div class="editorTool container">
                <div class="row">
                    <div class="col-2">
                        <span>文章标签：</span>
                    </div>
                    <div class="col-10">
                        <button>添加标签</button>
                        <p class="tip">最多添加5个标签</p>
                    </div>

                </div>
            </div>


            <button id="submit">发表博客</button>

            <div>
                <span>文章类型</span>
                <select name="" id="blogType">
                    <option value="0">请选择分类</option>
                    <option value="1">原创</option>
                    <option value="2">转载</option>
                    <option value="3">翻译</option>
                </select>
            </div>
            个人分类：添加新分类
            ：*博客分类：*
        </div>
    </div>

</section>

<% include ../include/footer-res.ejs %>
<!-- Include Editor JS files. -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.pkgd.min.js"></script>

<script>

    $(document).ready(function () {

        class Manage {
            constructor() {
                this.data = {
                    userInfo: null,
                    showAside: false,

                }
            }

            initial() {

//              获取当前用户信息
                manage.userInfo = JSON.parse(sessionStorage.getItem('user'));
//              格式化富文本
                $('#editor').froalaEditor({
                    height: 500,
                    codeMirror: false,
//                    toolbarButtons: [
//                        'saveSelection', 'restoreSelection', 'clearSelection'
//                    ]
//                    colorsBackground: ['#61BD6D', '#1ABC9C', '#54ACD2', 'REMOVE']
//                    colorsHEXInput: false
//                    colorsStep: 14
//                    autofocus: true
                });

//              如果是查看编辑， 有blog id
                if ('<%- blogObj.id %>') {
                    $('#editor').froalaEditor('html.set', `<%- blogObj.content %>`);
                    $('#blogType').val('<%- blogObj.type %>')
                }

                $('#submit').click(function () {
                    let title = $('#title').val().trim();
                    let content = $('#editor').froalaEditor('html.get');
                    let createTime = new Date().getTime();
                    let type = $('#blogType').val();

                    if (title == '') {
                        showErrorMsg('请输入文章标题');
                        $('#title').focus();
                        return;
                    }
                    if (content == '') {
                        showErrorMsg('请输入文章内容');
                        $('#editor').focus();
                        return;
                    }
                    if (type == 0) {
                        showErrorMsg('请选择文章类型');
                        $('#blogType').focus();
                        return;
                    }

                    ajaxData('post', '/blog', {
                        id: '<%- blogObj.id %>',
                        title: title,
                        content: content,
                        type: type,
                        createTime: createTime,
                        author: manage.userInfo.name
                    }).then(function (res) {
                        if (res.success) {
                            swal({
                                title: "Good job!",
                                text:  '<%- blogObj.id %>' ? "修改成功！" : "发布成功！",
                                icon: "success",
                                buttons: {
                                    oper1: {
                                        text: '写新文章',
                                        value: 'write'
                                    },
                                    oper2: {
                                        text: '管理博文',
                                        value: 'back'
                                    },
                                    oper3: {
                                        text: '查看文章',
                                        value: "view"
                                    }
                                },
//                                timer: 2000,
                            }).then((value) => {
                                switch (value) {
                                    case "write":
                                        window.location.href = '/blog/index';
                                        break;
                                    case "view":
                                        window.location.href = '/blogDetail/<%- blogObj.id %>';
                                        break;
                                    case "back":
                                        window.location.href = '/blogList';
                                        break;
                                    default:
                                        break;
                                }
                            });
                        }
                    })

                })
            }
        }

        let manage = new Manage();
        manage.initial();


    });


</script>
</body>
</html>